.statistics-page {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }

  .cmp-back-button {
    background-color: #20293f;
    border-color: #20293f;

    &:hover {
      border-color: white;
    }

    a,
    path {
      color: white;
    }
  }

  .title {
    margin-bottom: 20px;
  }

  .select {
    display: flex;
    justify-content: center;

    select {
      width: fit-content;
      padding: 10px;
    }
  }

  .infos {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    flex-wrap: wrap;
    margin: 50px 0;

    .totals {
      width: 480px;

      .averages {
        margin-top: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      span {
        font-weight: 600;
      }
    }
  }

  .table {
    margin: 40px 0;
    width: 100%;
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 16px;
      overflow: hidden;
    }

    th,
    td {
      padding: 12px 16px;
    }

    th {
      background-color: #20293f;
      font-weight: 600;
      color: white;
    }

    tbody {
      text-align: center;
    }

    tr {
      background-color: #3d4047;
      transition: background-color 0.3s ease;

      &:nth-child(even) {
        background-color: #32353c;
      }

      &:hover {
        background-color: #4e5260;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #0f121a;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      cursor: pointer;
    }
  }

  .graphs {
    display: flex;
    flex-direction: column;
    margin: 40px 0;

    .bar-chart {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  .no-properties {
    margin-top: 120px;
    text-align: center;
  }
}
