.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;

    .login {
      .buttons {
        display: flex;
      }
    }
  }
}
