.login-page {
  display: flex;

  .image-container {
    width: 50%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url("@/assets/coffee1.jpg");
    background-size: cover;
    background-position: top;
    opacity: 0.7;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    @media (max-width: 1024px) {
      width: 100%;
    }

    .password-input {
      display: flex;
      background-color: #3d4047;
      border-radius: 8px;
      border: solid 1px #b1b1b1;

      &:focus-within {
        border-color: white;
      }

      input {
        background-color: transparent;
        border-color: transparent;
        width: 100%;
        padding: 20px 0 20px 20px;
      }

      button {
        background-color: transparent;
        padding: 0;
        margin: 20px 20px 20px 10px;
        border-color: transparent;
        background: transparent;
      }
    }

    .register {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 500px;
      margin: 0 50px;

      @media (max-width: 1024px) {
        width: 100%;
        margin: 0;
      }

      h1 {
        font-size: 58px;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
      }

      a {
        font-size: 20px;
        color: #a8b9e2;
      }
    }

    .login {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 500px;
      margin: 0 50px;

      @media (max-width: 1024px) {
        width: 100%;
        margin: 0;
      }

      h1 {
        font-size: 46px;
      }

      p {
        font-size: 20px;
      }

      a {
        font-size: 20px;
        color: #a8b9e2;
      }
    }
  }
}
