.visualize-page {
  display: flex;
  padding: 0;

  .cmp-back-button {
    transition: all ease 0.3s;
    left: 360px;

    @media (max-width: 768px) {
      left: 60px;
    }
  }

  &.moveButton {
    .cmp-back-button {
      transform: translateX(-300px);

      @media (max-width: 768px) {
        transform: inherit;
      }
    }
  }
}
