.cmp-maps {
  display: flex;
  justify-content: center;
  width: 100%;

  .button {
    position: absolute;
    top: 185px;
    z-index: 1;

    @media (max-width: 1024px) {
      button {
        padding: 8px 10px;
      }
    }
  }
}
