.cmp-pie-chart {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 400px;
    width: 600px;
    padding-bottom: 50px;
    padding-top: 10px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
}
