.cmp-field-stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;

  .modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 30px;
    height: 400px;
    overflow-y: scroll;
    gap: 30px;
    border-radius: 15px;

    @media (max-width: 768px) {
      width: 90%;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #0f121a;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      cursor: pointer;
    }

    h2 {
      font-size: 32px;
    }

    .general-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .checkbox {
        display: flex;
        gap: 30px;

        .inputs {
          display: flex;
          gap: 8px;

          input {
            transform: scale(1.4);
          }
        }
      }
    }

    .field-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      ul {
        position: absolute;
        list-style: none;
        border-radius: 8px;
        width: 100%;
        z-index: 2;

        li {
          padding: 8px 12px;
          cursor: pointer;
          background-color: #3d4047;

          &:hover {
            background-color: #2a2c31;
          }
        }
      }

      .variety {
        position: relative;
      }

      .select-property {
        position: relative;
      }

      .measures {
        display: flex;
        gap: 40px;

        .input {
          display: flex;
          gap: 10px;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          input {
            width: 80px;
            border: solid 1px #ccc;
            outline: none;
            padding: 5px 15px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      button {
        padding: 12px;
      }
    }
  }
}
