.cmp-field-stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;

  .modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 600px;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 30px;

    .general-container {
      display: flex;
      flex-direction: column;

      .checkbox {
        display: flex;
        gap: 30px;
      }
    }

    .field-container {
      .variety {
        position: relative;

        ul {
          position: absolute;
          list-style: none;
          background: #fff;
          border-radius: 8px;
          width: 100%;
          border: 1px solid #ddd;

          li {
            padding: 8px 12px;
            cursor: pointer;

            &:hover {
              background: #f0f0f0;
            }
          }
        }
      }

      .measures {
        display: flex;
        gap: 30px;

        input {
          width: 80px;
          border: solid 1px #ccc;
          outline: none;
          padding: 5px 15px;
        }

        div {
          display: flex;
          gap: 10px;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
    }
  }
}
