.cmp-field-stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;

  .modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 30px;
    height: 400px;
    overflow-y: scroll;
    gap: 30px;
    border-radius: 15px;
    box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);

    @media (max-width: 768px) {
      width: 90%;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #14171f;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      cursor: pointer;
    }

    h2 {
      font-size: 32px;
    }

    .general-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .checkbox {
        display: flex;
        gap: 20px;

        .inputs {
          display: flex;
          cursor: pointer;
          background-color: #0d0f14;
          padding: 10px;
          border-radius: 8px;

          &:hover {
            background-color: #2a2c31;
          }

          &.active {
            background-color: #2a2c31;
          }
        }
      }
    }

    .field-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      ul {
        position: absolute;
        list-style: none;
        border-radius: 8px;
        width: 100%;
        z-index: 2;

        li {
          padding: 8px 12px;
          cursor: pointer;
          background: linear-gradient(90deg, #3d4047, #4c4f57);

          &:hover {
            background: #2a2c31;
          }
        }
      }

      .variety {
        position: relative;
      }

      .select-property {
        position: relative;
      }

      .measures {
        display: flex;
        gap: 40px;

        .input {
          display: flex;
          gap: 10px;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          input {
            width: 80px;
            border: solid 1px #ccc;
            outline: none;
            padding: 5px 15px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      button {
        padding: 12px;
      }

      .delete {
        background: linear-gradient(90deg, rgb(133, 0, 0), rgb(116, 0, 0));
      }
    }
  }
}
