.cmp-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100vw;
  background: linear-gradient(90deg, #14171f 0%, #090c14 100%);
  z-index: 2;
  box-shadow: 0px 0px 30px -10px black;

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 100%;
    }

    p {
      font-weight: 600;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }

  .account {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 5px;
      margin-top: -10px;
    }

    button {
      padding: 6px;
    }
  }
}
