.cmp-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  position: relative;
  background-color: red;
  z-index: 1;

  .account {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      padding: 6px;
    }
  }
}
