.cmp-data-entry {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;

  .modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 30px;

    .infos {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .name {
        p {
          font-size: 18px;
        }

        .variety {
          font-size: 16px;
          font-style: italic;
        }
      }
    }

    .register {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .send {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0 50px;

        input {
          padding: 25px;
        }

        button {
          padding: 25px;
        }
      }

      .revise {
        display: flex;
        gap: 15px;

        input {
          width: 70px;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
    }
  }
}
