.cmp-sidebar {
  display: flex;
  position: fixed;
  transition: all 0.3s ease;
  height: 100dvh;
  z-index: 1;

  &.hidden {
    transform: translateX(-300px);

    @media (max-width: 768px) {
      transform: translateX(-240px);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 300px;
    padding: 120px 20px 30px 20px;
    background-color: #14171f;
    scrollbar-gutter: stable;
    box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);

    @media (max-width: 768px) {
      width: 240px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #14171f;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      cursor: pointer;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .button {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-bottom: 20px;

      button {
        border-radius: 0;

        &:hover {
          background-color: #161c2b;
        }
      }

      .property-button {
        display: flex;

        .arrow {
          padding: 0 20px;
        }

        .name {
          width: 100%;
        }

        button {
          padding: 10px 0;
        }
      }
    }

    .fields-button {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  .close {
    margin-top: 100px;

    button {
      border-radius: 0 0 12px 0;
      padding: 8px;
      background: #14171f;
    }
  }
}
