.cmp-sidebar {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: beige;
  padding-top: 100px;

  .fields-container {
    display: flex;
    flex-direction: column;
  }
}
