html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  overscroll-behavior: none; /* remove efeito de bounce no iOS/Android */
  -webkit-overflow-scrolling: auto; /* para iOS */
}

html,
body {
  background-color: #14171f; /* mesma cor do fundo do app */
}

.page {
  padding: 40px 60px;
  background: linear-gradient(130deg, #14171f 0%, #090c14 100%);
  min-height: 100vh;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}

.modal {
  background: linear-gradient(90deg, #1a1e29 0%, #14171f 100%);
}

input,
select {
  background: linear-gradient(90deg, #3d4047, #4c4f57);
  background-color: #3d4047;
  outline: none;
  padding: 20px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  width: 100%;

  @media (max-width: 768px) {
    &::placeholder {
      font-size: 20px;
    }
  }

  &:focus {
    border-color: white;
  }

  &::placeholder {
    color: #b1b1b1;
  }
}

button {
  background: linear-gradient(90deg, #20293f, #28334e);
  padding: 20px 30px;
  border-radius: 8px;
  border: 0;
  border-bottom: solid 2px transparent;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    border-color: white;
    transform: scale(1.02);
  }
}
